/*
    folha de estilo site One Page HTML5 e CSS3
    @AUTHOR: Romulo Andrey

*/
body{
    background-color: #f00;
}


/* smartphone portrait */
/*Smartphone landscape*/
@media (min-width: 576px){
    body{
        background-color: #0ff
        ;
    }
}
/*Tablet Portrait*/
@media (min-width: 768px){
    body{
        background-color: #ffff00
        ;
    }
}
/*Tablet Landscape*/
@media (min-width: 992px){
    body{
        background-color: #ff6600;
        ;
    }
}
/*PC*/



